# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

test
testHashFunctions
out.dot
createHashTableTest
createClassGraphs
testOpenclUpdate
components/
createHashTable.cl
createHashTableOnGPU.cpp
createHashTableTest.cpp
OpenclDataStructures.hpp
testDocumentClassComponent.cpp
serial_vs_parallel_update
profile_update_kernel
fast_dir
calculate_speedups.cpp
calculate_speedups
times.txt
ht_size_vs_exec_time
sizes.txt
size_vs_time.txt
save_class_graphs_to_file
ht_size_vs_value_similarity
size_vs_similarity.txt
profiling.txt
profile_parallel_class_graph_construction
ht_size_vs_speedup.txt
